/* VARIABLES */
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
}

/* ALL */
* {
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.5s ease;
}

h1 {
  color: #fffffe;
}
h1.title {
  width: fit-content;
  position: sticky;
  top: 2%;
  left: 2%;
  z-index: 10;
}

/* BODY */
body {
  background-color: #16161a;
}

body,
html {
  width: 100%;
  height: 100%;
}

/* VIEW */
.view {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MODALS */
.modal__addBlock {
  display: none;
  background-color: rgba(36, 38, 41, 0.7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.modal__addBlock.open {
  display: flex;
}
.modal__addBlock .form {
  background-color: #0065ff;
  width: 20%;
  padding: 20px;
  border-radius: 2px;
  text-align: center;
}
.modal__addBlock .form h2 {
  color: #fffffe;
  margin-bottom: 30px;
}
.modal__addBlock .form .submitParentBlock {
  margin-top: 30px;
}
.modal__addBlock .form .inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__addBlock .form .inputs .input__block {
  width: 100%;
  margin: 5px 0;
  display: flex;
  justify-content: center;
}
.modal__addBlock .form .inputs .input__block label,
.modal__addBlock .form .inputs .input__block input {
  color: #fffffe;
  display: flex;
  align-items: center;
  width: 30%;
}
.modal__addBlock .form .inputs .input__block input {
  border: none;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 2px solid #fffffe;
  border-radius: 2px;
}
.modal__addBlock .form .inputs .input__block input:active, .modal__addBlock .form .inputs .input__block input:focus {
  outline: none;
}
.modal__addBlock .form .inputs .input__block p {
  margin-left: 10px;
  color: #fffffe;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SIDEBAR */
.sidebar {
  background-color: #242629;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 5% 0 0 2%;
  z-index: 1;
}
.sidebar.expanded {
  left: -25%;
}
.sidebar__button {
  width: 50px;
  height: 50px;
  background-color: #0065ff;
  position: absolute;
  top: 50%;
  right: -5%;
  border-radius: 50%;
  transform: translate(0%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.sidebar__button:hover {
  cursor: pointer;
}
.sidebar__button img {
  transform: rotate(90deg);
}
.sidebar__button.expanded {
  padding-left: 5%;
  border-radius: 20%;
}
.sidebar__button.expanded img {
  transform: rotate(270deg);
}
.sidebar .addBlock.disabled {
  opacity: 0.6;
  pointer-events: none;
}

/* BUTTONS */
.btn {
  color: #fffffe;
  border: none;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.btn:hover {
  cursor: pointer;
}
.btn--blue {
  background-color: #0065ff;
}
.btn--blue:hover {
  background-color: #0051cc;
}
.btn--dark {
  background-color: #16161a;
}
.btn--dark:hover {
  background-color: #2d2d36;
}
